{{ $cleanPermalink := substr .RelPermalink 1 -5 }}
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      {{ partial "nav.html" . }}
    </header>
    <main>
      <article class="h-entry">
        <h1>{{ .Title }}</h1>
        <div>
          Here is a full list ({{ .Site.RegularPages  | len }}) of every note in my garden.
          <ul>
            {{ range .Site.Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>  
        </div>
      </article>
    </main>
  </body>
</html>      
