{{ $cleanPermalink := substr .RelPermalink 1 -5 }}
{{ $backlinks := dict }}
{{ with resources.Get "data/backlinks.yaml" }}
  {{ with . | transform.Unmarshal }}
    {{ $backlinks = index . $cleanPermalink }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" "data/backlinks.yaml" }}
{{ end }}
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      <nav>
        <img src="/assets/images/me.jpg" alt="" width="36">
        <a href="/">Garden</a>
        <a href="https://desmondrivet.com/posts/">Posts</a>
        <form action="/search.html" method="get">
          <input type="search" placeholder="Search..." id="searchField" name="searchField"/>
        </form>
      </nav>
    </header>
    
    <main>
      <article class="h-entry">
        <h1>{{ .Title }}</h1>
        <div>
          {{.Content}}
        </div>
      </article>
      <hr />
      <p>Backlinks</p>
      <ul>
        {{ range $backlinks }}
        <li><a href="/{{.file}}.html">{{.title}}</a></li>
        {{ end }}
      </ul>
    </main>
  </body>
</html>      
