<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header class= "main-header">
      {{ partial "nav.html" . }}
    </header>
    <main class="two-column main-content">
      <article class="h-entry two-column__col two-column__col1 main-content__col1">
        <header class="article-header">
          <h1>{{ .Title }}</h1>
          <div>
            Created: {{ .Date | time.Format "Jan 2 2006, 15:04 MST" }}
          </div>  
        </header>
        <div>
          {{.Content}}
        </div>
      </article>
      {{ partial "backlinks.html" . }}
    </main>
    <footer class="main-footer center">
      Copyright 2025 by {{ .Site.Param "author" }}
    </footer>
  </body>
</html>      
