<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header class= "main-header">
       {{ partial "nav.html" . }}
    </header>
    <main class="main-content">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
      {{ range .Data.Terms.ByCount }}
      <div><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</div>
      {{ end }}
    </main>
    <footer class="main-footer center">
      Copyright 2025 by {{ .Site.Param "author" }}
    </footer> 
  </body>
</html> 
