:root {
  --accent: #2D9CDB;
  --colour: rgb(80,80,80);
  --side-padding: 0.66em;
  --font-size: 16px;
  --font-size-smaller: 14px;
  --font-size-smallest: 10px;
  --font-size-bigger: 18px;
}

body {
  font-family: Inter, sans-serif;
  font-size: var(--font-size);
  line-height: 1.7;
  margin: 0.5em;
  color: var(--colour);
}

a {
  text-decoration: none;
  color: var(--accent);
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.3125em;
}

h3 {
  font-size: 1.02375em;
}

h4 {
  font-size: 0.875em;
}

h5 {
  font-size: 0.72625em;
}

h6 {
  font-size: 0.58625em;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__item {
  color: var(--colour);
  text-decoration: none;
  margin: 0 0.3em 0 0;
}

main {
    flex-grow: 1;
    max-width: 60ch;
    width: 100%;
    margin: 0 auto;
}



h2 {font-size: 1.6273em;}

h3 {font-size: 1.302em;}

h4 {font-size: 1.042em;}

h5, .larger {font-size: 0.833333em;}

.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: var(--grey);
}

.backlink__preview {
    display: none;
    
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
}
.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px; /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}

.search-info {
    font-size: 0.85em;
}

.search-result-list {
    list-style-type: none;
    padding-left: 0;
}

.search-result-item__header {
    margin: 2em 0 0.3em 0;
}

#searchField {
    width: 10em;
}
