{{ $cleanPermalink := substr .RelPermalink 1 -5 }}
{{ $backlinks := dict }}
{{ with resources.Get "data/backlinks.yaml" }}
  {{ with . | transform.Unmarshal }}
    {{ $backlinks = index . $cleanPermalink }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" "data/backlinks.yaml" }}
{{ end }}
<section class="backlinks two-column__col two-column__col2 main-content__col2">
{{ with $backlinks  }}
  <p class="backlinks__title">Backlinks</p>
  <ul class="backlinks-list">
    {{ range $backlinks }}
    <li class="backlinks-list__item"><a class="backlinks-list__link" href="/{{.file}}.html">{{.title}}</a></li>
    {{ end }}
  </ul>
{{ else }}
  <p>No backlinks</p>
{{ end }}
</section>
