<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <nav class="navbar">
            <img src="/assets/me.jpg" alt="" width="36">
            <a href="/">Garden</a>
            <a href="https://desmondrivet.com/posts/">Posts</a>
            <form action="/search.html" method="get">
              <input type="search" placeholder="Search..." id="searchField" name="searchField"/>
            </form>
        </nav>
    </header>
    <main>
        <article>
            <h1>{{title}}</h1>
            {{content}}
        </article>
        {% include 'backlinks.html' %}
    </main>
    
    <footer class="page-footer">
        <small>Copyright {{site.author}} 2025</small>
    </footer>
</body>
</html>
